/*=== product index  ===*/

#activities-index {
  width: 100%;
  position: relative;
  font-size: 1em;
  background-image: url("../images/tapas2.png");
  background-size: 30em;
  background-position: center;
  border-bottom: 2em solid whitesmoke;
  �: 2em;
  padding-bottom: 2em;
}

.activity {
  display: block;
  width: 100%;
  background: ivory;
  padding: 2em;
  margin-bottom: 1em;
  max-width: 60em;
  border: 1px solid gainsboro;
  overflow: auto;
  margin: 1em auto;
  box-shadow: 0em 0.55em 0.5em -0.5em #00000085;
}

.activity-title,
.activity-description,
.activity-footer{
  text-align: left;
  width: 50%;
  padding-left: 1em;
  position: relative;
  float: right;
}
.activity-title .title {
  text-transform: capitalize;
  color: #ad330e;
  display: block;
  font-family: "Libre Baskerville";
  line-height: 1em;
  margin-bottom: 0.5em;
  margin-top:   0;
  text-align: left;
}
.sub-title {
  text-transform: capitalize;
  line-height: 1em;
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25em;
}
.duration {
  font-weight: normal;
  display: block;
  margin-top: 1em;
}
.duration b,
.duration span{
  color: #333;
  display: inline-block;
  vertical-align: middle;
}
.duration b{
  font-family: "Josefin Sans", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  font-size: 1.2em;
}
.activity-img {
  width: 50%;
  overflow: hidden;
  position: relative;
  height: 20em;
  max-width: 22em;
  float: left;
}
.activity-img img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  transform: translate(-50%,-50%);
}
.activity-description{
  padding-top: 1em;
}
.activity-description p{
  line-height: 1.75em;
  font-size: 1em;
}
.activity-footer{
  margin-top: 1em;
}
.activity-left {
  text-align: left;
}
.activity-right {
  text-align: right;
}
.activity-footer li{
  display: inline-block;
  vertical-align: middle;
  font-size: 1.1em;
  width: 49%;
}

.activity .sale-price,
.activity .list-price {
  font-size: 1.25em;
  display: inline-block;
  padding-right: 1em;
  text-transform: capitalize;
}
.activity .sale-price{
  color: #333;
}
.activity .list-price{
  opacity: 0.5;
}
.activity .sale-price span,
.activity .list-price span{
  display: block;
  font-weight: bolder;
}
.activity .sale-price span{
  color: #ad330e;
}
.activity .sale-price span::before,
.activity .list-price span::before{
  content: "$";
}
.activity .list-price span{
 text-decoration: line-through;
}
.activity-anchor {
  background: #4B7E33;
  display: inline-block;
  border-radius: 2em;
  text-align: center;
  padding: 0.5em;
}
.activity-anchor p {
  text-transform: capitalize;
  font-weight: bold;
  color: gold;
  display: inline-block;
  vertical-align: bottom;
}
.activity-anchor .material-symbols-outlined {
  color: #4b7e33;
  background: gold;
  border-radius: 1em;
  font-weight: bold;
  display: inline-block;
  vertical-align: sub;
  padding: 0.05em 0em 0.05em 0.1em;font-size: 1em;
}
.activity-anchor.book {
  background: gold;
  padding: 0.55em;
  min-width: 8.5em;
  margin-top: 0.5em;
}
.activity-anchor.book p {
  color: #4b7e33;
}
.activity-anchor.book .material-symbols-outlined {
  color: #4b7e33;
  font-size: 1.15em;
  padding: 0;
  background: none;
}
@media(max-width:900px){
  .activity-title,
  .activity-description,
  .activity-footer{
    width:45%;
  }
}
@media(max-width:700px){
  .activity{
    max-width: 30em;
    margin: 1em auto;
  }
  .activity-title,
  .activity-description,
  .activity-footer,
  .activity-img{
    float: none;
    width: 100%;
    max-width: 100%;
  }
  .activity-footer{
    font-size: 1.25em
  }
  .activity-img{
    height: 15em;
  }
  .activity-img img{
    height: auto;
    width: 100%;
  }
  .sub-title{
    padding-bottom: 0.5em;
  }
  .sale-price,
  .list-price{
    font-size: 1.5em;
  }
}